# Ignore Python virtual environments
venv/
# Ignore static or compiled files
*.pyc
__pycache__/
*.log
dirt/
# Ignore system files
.DS_Store

bone_subtraction/
reference_checker/
denoisevision/
reference_checker/
3d-generation/
